body.pre-reservation main h3, body.pre-reservation main strong {
    color: var(--red);
}

body.pre-reservation main h2 {
    font-weight: 700;
}

body.pre-reservation main h3 {
    font-weight: 600;
    font-size: 17px;
}

body.pre-reservation main strong {
    font-size: 23px;
    font-weight: 800;
}

body.pre-reservation main form {
    margin-top: 25px;
}

body.pre-reservation main form .input-container {
    margin: 50px 0;
}

body.pre-reservation main form .input-container h4 {
    margin-top: 0;
    color: var(--red);
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
}